{
  "openapi": "3.1.1",
  "x-stoplight": {
    "id": "yolj5v0jbyewi"
  },
  "info": {
    "title": "Oxygen Pelatologio API",
    "description": "The Oxygen Pelatologio ERP API lets third-party applications integrate with the Pelatologio ERP without using the web interface.\n\nTypical integrations include:\n* Issuing invoices, credit notes, delivery notes and notices from an external system (e.g. an e-shop, POS, or in-house ordering tool).\n* Synchronising contacts (clients/suppliers), products, taxes and warehouses.\n* Performing VAT lookups (Greek GSIS / EU VIES) and document PDF retrieval.\n\n## Authentication\n\nEvery request requires a Bearer API key in the `Authorization` header and `application/json` in the `Accept` header.\n\n```\nAuthorization: Bearer <your-api-key>\nAccept: application/json\n```\n\n## Pagination\n\nList endpoints accept `page` and `per_page` query parameters and return Laravel-style paginated payloads (`data`, `links`, `meta`).\n`per_page` is capped at 2000.\n\n## Errors\n\nThe API uses standard HTTP status codes. Validation failures return `422` with a `message` and a `errors` object keyed by field. Authentication failures return `401`. Missing resources return `404`.",
    "version": "1.13.0",
    "contact": {
      "name": "Oxygen API Support",
      "email": "support@oxygen.gr"
    }
  },
  "servers": [
    {
      "description": "Oxygen Pelatologio SANDBOX API",
      "url": "https://sandbox-api.oxygen.gr/v1"
    },
    {
      "description": "Oxygen Pelatologio API",
      "url": "https://api.oxygen.gr/v1"
    }
  ],
  "tags": [
    {
      "name": "Branches",
      "description": "Manage company branches (the physical locations of the company)."
    },
    {
      "name": "Business Areas"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Credit Notes"
    },
    {
      "name": "Delivery Notes",
      "description": "Manage delivery notes (Δελτία Αποστολής)."
    },
    {
      "name": "Hotel Tax",
      "description": "Issue the special hotel residence tax document required by Greek hotels."
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Logos"
    },
    {
      "name": "Measurement Units",
      "description": "Manage measurement units used on product line items."
    },
    {
      "name": "Notices"
    },
    {
      "name": "Numbering Sequences"
    },
    {
      "name": "Oxygen Payments"
    },
    {
      "name": "Payment Methods"
    },
    {
      "name": "Product Categories"
    },
    {
      "name": "Products"
    },
    {
      "name": "Taxes"
    },
    {
      "name": "Variations"
    },
    {
      "name": "VAT Check"
    },
    {
      "name": "Warehouses"
    }
  ],
  "externalDocs": {
    "description": "AADE Manual",
    "url": "https://www.aade.gr/sites/default/files/2024-07/myDATA%20API%20Documentation%20v1.0.9_official_erp.pdf"
  },
  "paths": {
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all the contacts",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vat",
            "description": "Search by contact VAT",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "description": "Search by contact code. Accepts multiple contact codes separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "email",
            "description": "Search by email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getContacts",
        "description": "Returns a paginated list of contacts (clients and/or suppliers) for the authenticated account. Supports filtering by `id`, `vat`, `code` and `email`. Soft-deleted contacts are excluded."
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "is_client",
                  "is_supplier",
                  "country"
                ],
                "properties": {
                  "code": {
                    "description": "Contact code. If empty a random will be created",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "type": {
                    "description": "The type of the contact. 1 - Private, 2 - Company",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2
                  },
                  "is_client": {
                    "description": "If the contact is a client or not. true or 1 - is a client, false - it is not a client",
                    "type": "boolean"
                  },
                  "is_supplier": {
                    "description": "If the contact is a supplier or not. true - is a supplier, false - it is not a supplier",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "Name of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "surname": {
                    "description": "Surname of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "company_name": {
                    "description": "The name of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "nickname": {
                    "description": "The name of the nickname",
                    "type": "string",
                    "maximum": 100
                  },
                  "profession": {
                    "description": "The profession of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "vat_number": {
                    "description": "The VAT of the contact. If the contact is a non Greek company, the country's 2 letter code should be used as prefix. Required only if type is 2",
                    "type": "string"
                  },
                  "tax_office": {
                    "description": "The tax officer of the contact. Required only if type is 2 and company is from Greece.",
                    "type": "string"
                  },
                  "telephone": {
                    "description": "The telephone of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "mobile": {
                    "description": "The mobile number of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "email": {
                    "description": "The email of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "street": {
                    "description": "The street of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "number": {
                    "description": "The number of the contact. Required only if type is 2 and street is present",
                    "type": "string"
                  },
                  "city": {
                    "description": "The city of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "zip_code": {
                    "description": "The zip code of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "country": {
                    "description": "The country of the contact (2letter)",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "postContacts",
        "description": "Creates a new contact. The `type` field controls which fields are required: private contacts (`type=1`) need `name` and `surname`, companies (`type=2`) need `company_name`, `profession`, `vat_number`, address, city and zip code. The `tax_office` is required for Greek companies. If `code` is omitted and account-level auto-numbering is enabled, the next available code is assigned automatically."
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a specific contact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getContactsByContact",
        "description": "Retrieves a single contact by its ID. Returns 404 if the contact does not exist or has been deleted."
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact. All values are needed.",
        "responses": {
          "201": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "is_client",
                  "is_supplier",
                  "country"
                ],
                "properties": {
                  "code": {
                    "description": "Contact code. If empty a random will be created",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "type": {
                    "description": "The type of the contact. 1 - Private, 2 - Company",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2
                  },
                  "is_client": {
                    "description": "If the contact is a client or not. true or 1 - is a client, false - it is not a client",
                    "type": "boolean"
                  },
                  "is_supplier": {
                    "description": "If the contact is a supplier or not. true - is a supplier, false - it is not a supplier",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "Name of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "surname": {
                    "description": "Surname of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "company_name": {
                    "description": "The name of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "profession": {
                    "description": "The profession of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "vat_number": {
                    "description": "The VAT of the contact. If the contact is a non Greek company, the country's 2 letter code should be used as prefix. Required only if type is 2",
                    "type": "string"
                  },
                  "tax_office": {
                    "description": "The tax officer of the contact. Required only if type is 2 and company is from Greece.",
                    "type": "string"
                  },
                  "telephone": {
                    "description": "The telephone of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "mobile": {
                    "description": "The mobile number of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "email": {
                    "description": "The email of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "street": {
                    "description": "The street of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "number": {
                    "description": "The number of the contact. Required only if type is 2 and street is present",
                    "type": "string"
                  },
                  "city": {
                    "description": "The city of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "zip_code": {
                    "description": "The zip code of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "country": {
                    "description": "The country of the contact (2letter)",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "putContactsByContact",
        "description": "Fully replaces a contact. **All** fields must be provided (omitted fields are reset). Use `PATCH /contacts/{contact_id}` to update only specific fields."
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Partially update a contact",
        "description": "Partial update — only the fields included in the request body are modified. Omitted fields keep their current value.",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "description": "Contact code. If empty a random will be created",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "type": {
                    "description": "The type of the contact. 1 - Private, 2 - Company",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2
                  },
                  "is_client": {
                    "description": "If the contact is a client or not. true or 1 - is a client, false - it is not a client",
                    "type": "boolean"
                  },
                  "is_supplier": {
                    "description": "If the contact is a supplier or not. true - is a supplier, false - it is not a supplier",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "Name of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "surname": {
                    "description": "Surname of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "company_name": {
                    "description": "The name of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "profession": {
                    "description": "The profession of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "vat_number": {
                    "description": "The VAT of the contact. If the contact is a non Greek company, the country's 2 letter code should be used as prefix. Required only if type is 2",
                    "type": "string"
                  },
                  "tax_office": {
                    "description": "The tax officer of the contact. Required only if type is 2 and company is from Greece.",
                    "type": "string"
                  },
                  "telephone": {
                    "description": "The telephone of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "mobile": {
                    "description": "The mobile number of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "email": {
                    "description": "The email of the contact",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "street": {
                    "description": "The street of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "number": {
                    "description": "The number of the contact. Required only if type is 2 and street is present",
                    "type": "string"
                  },
                  "city": {
                    "description": "The city of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "zip_code": {
                    "description": "The zip code of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "country": {
                    "description": "The country of the contact (2letter)",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "patchContactsByContact"
      },
      "parameters": [
        {
          "name": "contact_id",
          "in": "path",
          "description": "The ID of the contact to be retrieved",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve all issued invoices",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Search by contact ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_code",
            "description": "Search by contact code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "Search from a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "Search to a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "description": "Search exactly the specific date. Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "number",
            "description": "Search by invoice number. Accepts multiple invoice numbers separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numbering_sequence",
            "description": "Search by numbering_sequence. Accepts the numbering sequence id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getInvoices",
        "description": "Returns a paginated list of issued invoices. Supports filtering by `id`, `contact_id`, `contact_code`, `number`, `numbering_sequence`, and date range (`date_from`/`date_to`/`date`). Each item includes its MyData transmission status."
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create a new invoice",
        "responses": {
          "201": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "description": "The number of the invoice. If it's empty then the next sequentional number will be used according to the invoices type and sequence.",
                    "type": "integer"
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence id of the invoice",
                    "type": "string"
                  },
                  "issue_date": {
                    "description": "The issue date of the invoice",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-21"
                  },
                  "document_type": {
                    "description": "The type of the invoice.",
                    "type": "string",
                    "enum": [
                      "s (Invoice for Services)",
                      "p (Invoice for product sales and/or services)",
                      "rs (Receipt (issued to private customers) for services)",
                      "rp (Receipt (issued to private customers) for products and/or services)"
                    ]
                  },
                  "language": {
                    "description": "The language of the invoice",
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "mydata_document_type": {
                    "description": "The document type for MyData as seen at table 8.1 in AADE manual",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "payment_method_id": {
                    "description": "The id of the payment method to associate with the invoice",
                    "type": "string"
                  },
                  "description": {
                    "description": "A description about the document. If left blank the description of the first item will be chosen.",
                    "type": "string",
                    "maximum": 200
                  },
                  "business_area_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "mt6hefp7r2zx9"
                    },
                    "format": "uuid"
                  },
                  "contact_id": {
                    "description": "The id of the contact (client) that the invoice will be issued",
                    "type": "string"
                  },
                  "logo_id": {
                    "description": "The id of the logo to be used. If it's empty the default logo will be used.",
                    "type": "string"
                  },
                  "items": {
                    "description": "List of items / products / services",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "The id or code of the item",
                          "type": "string"
                        },
                        "warehouse_id": {
                          "description": "The id of the warehouse the quantity will be removed. If skipped the default warehouse will be used.",
                          "type": "string"
                        },
                        "description": {
                          "description": "The description of the item. Not required if valid product code is provided.",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the item",
                          "type": "number"
                        },
                        "unit_net_value": {
                          "description": "The item unit price without VAT. Not required if valid product code is provided.",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to be applied. Not required if valid product code is provided.",
                          "type": "string"
                        },
                        "discount_type": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "jfk5eyl1yutim"
                          },
                          "enum": [
                            "percent",
                            "amount"
                          ]
                        },
                        "discount_value": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "msxkrhpd1ljcw"
                          }
                        },
                        "net_amount_pre_discount": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "464ypkkmao4cp"
                          },
                          "description": "The items' price before discount without VAT."
                        },
                        "net_amount": {
                          "description": "The items' price without VAT. Not required if valid product code is provided.",
                          "type": "number"
                        },
                        "vat_amount": {
                          "description": "The amount of the VAT. Not required if valid product code is provided.",
                          "type": "number"
                        },
                        "measurement_unit_id": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "ybj7tqy9z9zm4"
                          },
                          "format": "uuid"
                        },
                        "mydata_classification_category": {
                          "description": "The mydata category from table 8.8 from AADE manual",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "The mydata type from table 8.9 from AADE manual",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "notice_id": {
                    "description": "Notice ID to connect with",
                    "type": "string"
                  },
                  "is_paid": {
                    "description": "If it is set to true a receipt will be created and the invoice will be marked as paid. It does not work with Self Invoices (type self_inv)",
                    "type": "boolean"
                  },
                  "comments": {
                    "description": "Comments to be printed on the invoice",
                    "type": "string"
                  },
                  "infobox": {
                    "description": "Brief information to be printed on the invoice",
                    "type": "string",
                    "maximum": 300
                  },
                  "shipping_details": {
                    "$ref": "#/components/schemas/ShippingDetailsItem"
                  }
                }
              }
            }
          }
        },
        "operationId": "postInvoices",
        "description": "Issues a new invoice. The `document_type` determines the invoice category (`s` services, `p` product sales, `rs`/`rp` retail receipts). The `mydata_document_type` follows AADE table 8.1. When `is_paid` is `true` a receipt is automatically created (does not apply to self-billed invoices). Items can reference an existing product via `code` (preferred) or be defined inline with `description`, `unit_net_value`, `tax_id` and net/VAT amounts."
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve a specific invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the invoice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getInvoicesByInvoice",
        "description": "Retrieves a single invoice by its ID. The response includes line items, payment status, MyData transmission state (MARK, UID, QR URL) and any credit notes issued against it."
      }
    },
    "/invoices/{invoice_id}/pdf": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve the pdf of an invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the invoice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The template the PDF will be generated at",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "a4_landscape",
                "80mm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getInvoicesByInvoicePdf",
        "description": "Returns the PDF representation of the invoice. The `template` query parameter selects the layout: `a4`, `a4_landscape` or `80mm` (thermal receipt). Defaults to the account-level template."
      }
    },
    "/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve all issued credit notes",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Search by contact ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_code",
            "description": "Search by contact code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "Search from a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "Search to a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "description": "Search exactly the specific date. Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "number",
            "description": "Search by number. Accepts multiple invoice numbers separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numbering_sequence",
            "description": "Search by numbering sequence. Accepts the numbering sequence id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditNoteItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getCreditNotes",
        "description": "Returns a paginated list of issued credit notes. Supports the same filters as `GET /invoices`."
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a new credit note",
        "responses": {
          "201": {
            "description": "Credit note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "description": "The number of the invoice. If it's empty then the next sequential number will be used according to the invoices type and sequence.",
                    "type": "integer"
                  },
                  "correlated_invoice": {
                    "description": "The MARK of the correlated invoice. Required only if mydata_document_type is 5.1",
                    "type": "string"
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence id of the credit note",
                    "type": "string"
                  },
                  "issue_date": {
                    "description": "The issue date of the credit note",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-21"
                  },
                  "document_type": {
                    "description": "The type of the credit note.",
                    "type": "string",
                    "enum": [
                      "pistotiko - Credit note for invoices",
                      "pistlianiki - Credit note for receipts"
                    ]
                  },
                  "language": {
                    "description": "The language of the credit note",
                    "type": "string",
                    "enum": [
                      "GR",
                      "EN"
                    ]
                  },
                  "business_area_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "rbj18kl4igi39"
                    },
                    "format": "uuid"
                  },
                  "mydata_document_type": {
                    "description": "The document type for MyData as seen at table 8.1 in AADE manual",
                    "type": "string",
                    "enum": [
                      "5.1",
                      "5.2",
                      "11.4"
                    ]
                  },
                  "payment_method_id": {
                    "description": "The id of the payment method to associate with the credit note",
                    "type": "string"
                  },
                  "description": {
                    "description": "A description about the document. If left blank the description of the first item will be chosen.",
                    "type": "string",
                    "maximum": 200
                  },
                  "contact_id": {
                    "description": "The id of the contact (client) that the credit note will be issued",
                    "type": "string"
                  },
                  "items": {
                    "description": "List of items / products / services",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "description": "The description of the item",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the time",
                          "type": "number"
                        },
                        "unit_net_value": {
                          "description": "The item unit price without VAT",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to be applied",
                          "type": "string"
                        },
                        "discount_type": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "7n2jxo53wppsd"
                          },
                          "enum": [
                            "percent",
                            "amount"
                          ]
                        },
                        "discount_value": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "4egx48uo6g1wg"
                          }
                        },
                        "net_amount_pre_discount": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "1qatoh595fqgt"
                          }
                        },
                        "vat_amount": {
                          "description": "The amount of the VAT",
                          "type": "number"
                        },
                        "net_amount": {
                          "description": "The items' price without VAT",
                          "type": "number"
                        },
                        "mydata_classification_category": {
                          "description": "The mydata category from table 8.8 from AADE manual",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "The mydata type from table 8.9 from AADE manual",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "comments": {
                    "description": "Comments to be printed on the credit note",
                    "type": "string"
                  },
                  "infobox": {
                    "description": "Brief information to be printed on the credit note",
                    "type": "string",
                    "maximum": 300
                  }
                }
              }
            }
          }
        },
        "operationId": "postCreditNotes",
        "description": "Issues a new credit note. When `mydata_document_type` is `5.1` the `correlated_invoice` field (MARK of the original invoice) is required. The `document_type` selects between `pistotiko` (against an invoice) and `pistlianiki` (against a retail receipt)."
      }
    },
    "/credit-notes/{credit_note_id}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve a specific credit note",
        "parameters": [
          {
            "name": "credit_note_id",
            "in": "path",
            "description": "The ID of the credit note to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getCreditNotesByCreditNote",
        "description": "Retrieves a single credit note by its ID."
      }
    },
    "/credit-notes/{credit_note_id}/pdf": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve the pdf of an credit note",
        "parameters": [
          {
            "name": "credit_note_id",
            "in": "path",
            "description": "The ID of the credit note to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The template the PDF will be generated at",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "a4_landscape",
                "80mm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getCreditNotesByCreditNotePdf",
        "description": "Returns the PDF representation of the credit note. The `template` query parameter selects the layout: `a4`, `a4_landscape` or `80mm`."
      }
    },
    "/delivery-notes": {
      "get": {
        "summary": "Get all delivery notes",
        "tags": [
          "Delivery Notes"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeliveryNoteItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "operationId": "get-delivery-notes",
        "description": "Returns the paginated list of delivery notes for the authenticated account.",
        "parameters": [
          {
            "in": "query",
            "name": "per_page",
            "description": "Results per page. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page number.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ]
      },
      "post": {
        "summary": "Create a new delivery note",
        "operationId": "post-delivery-notes",
        "responses": {
          "201": {
            "description": "Delivery note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryNoteItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "description": "Issues a new delivery note. Items can either reference an existing product via `code` (the line inherits the product's warehouse and measurement unit) or be defined inline. A `measurement_unit_id` must be available — either from the product or supplied explicitly per line. `shipping_details` is required and describes pickup, delivery and transfer information for AADE myDATA.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "integer",
                    "x-stoplight": {
                      "id": "jwbtfb8xmsmlj"
                    }
                  },
                  "numbering_sequence_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "s252m6690v4mb"
                    },
                    "format": "uuid"
                  },
                  "mydata_document_type": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "g3vikygf5pnkb"
                    },
                    "enum": [
                      "9.3"
                    ]
                  },
                  "issue_date": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "eyho1yoiq4zf8"
                    },
                    "format": "date"
                  },
                  "description": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "8wlokcmml3svq"
                    }
                  },
                  "contact_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "xgorjxegko1cm"
                    },
                    "format": "uuid"
                  },
                  "logo_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "ee7xl9gtbnx9k"
                    },
                    "format": "uuid"
                  },
                  "language": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "c0v010xdu2mpa"
                    },
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "items": {
                    "type": "array",
                    "x-stoplight": {
                      "id": "v95fmvrtbnfk5"
                    },
                    "items": {
                      "x-stoplight": {
                        "id": "daz8t723hw23q"
                      },
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "oj4hr43ei69a4"
                          }
                        },
                        "warehouse_id": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "loih62fa6mrgt"
                          },
                          "format": "uuid"
                        },
                        "description": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "fdjs01obvlrsx"
                          }
                        },
                        "quantity": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "mfd2glc2rmeu7"
                          }
                        },
                        "measurement_unit_id": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "wnrbs0uiil0b2"
                          },
                          "format": "uuid"
                        }
                      }
                    }
                  },
                  "shipping_details": {
                    "$ref": "#/components/schemas/ShippingDetailsItem"
                  },
                  "infobox": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "krrexcgab3fz4"
                    }
                  },
                  "comments": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "q9ea8amporrlz"
                    }
                  }
                },
                "required": [
                  "mydata_document_type",
                  "issue_date",
                  "contact_id",
                  "language",
                  "shipping_details"
                ]
              }
            }
          }
        },
        "tags": [
          "Delivery Notes"
        ]
      }
    },
    "/delivery-notes/{delivery_note_id}": {
      "get": {
        "tags": [
          "Delivery Notes"
        ],
        "summary": "Retrieve a specific delivery note",
        "parameters": [
          {
            "name": "delivery_note_id",
            "in": "path",
            "required": true,
            "description": "The ID of the delivery note to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryNoteItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getDeliveryNotesByDeliveryNote",
        "description": "Retrieves a single delivery note by its ID."
      }
    },
    "/notices": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Retrieve all issued notices",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Search by contact id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_code",
            "description": "Search by contact code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "Search from a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "Search to a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "description": "Search exactly the specific date. Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "number",
            "description": "Search by number. Accepts multiple invoice numbers separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numbering_sequence",
            "description": "Search by numbering sequence. Accepts the numbering sequence id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NoticeItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getNotices",
        "description": "Returns a paginated list of issued notices (πρόσφορες — pre-invoice quotation documents)."
      },
      "post": {
        "tags": [
          "Notices"
        ],
        "summary": "Create a new notice",
        "responses": {
          "201": {
            "description": "Notice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "description": "The number of the notice. If it's empty then the next sequential number will be used.",
                    "type": "integer"
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence id of the notice.",
                    "type": "string"
                  },
                  "issue_date": {
                    "description": "The issue date of the notice",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-21"
                  },
                  "expire_date": {
                    "description": "The expire date of the notice. Not required. If its empty it will be calculated 10 days after the issue date",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-25"
                  },
                  "business_area_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "n5v9yznab3heq"
                    },
                    "format": "uuid"
                  },
                  "language": {
                    "description": "The language of the invoice",
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "description": {
                    "description": "A description about the document. If left blank the description of the first item will be chosen.",
                    "type": "string",
                    "maximum": 200
                  },
                  "contact_id": {
                    "description": "The id of the contact (client) that the invoice will be issued",
                    "type": "string"
                  },
                  "logo_id": {
                    "description": "The id of the logo to be used. If it's empty the default logo will be used.",
                    "type": "string"
                  },
                  "items": {
                    "description": "List of items / products / services",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "description": "The description of the item",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the time",
                          "type": "number"
                        },
                        "unit_net_value": {
                          "description": "The item unit price without VAT",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to be applied",
                          "type": "string"
                        },
                        "discount_type": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "eefrsa4y9zygm"
                          },
                          "enum": [
                            "percent",
                            "amount"
                          ]
                        },
                        "discount_value": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "b1vuzk6x6clr4"
                          }
                        },
                        "net_amount_pre_discount": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "qwhz1qj1nsqtc"
                          }
                        },
                        "net_amount": {
                          "description": "The items' price without VAT",
                          "type": "number"
                        },
                        "vat_amount": {
                          "description": "The amount of the VAT",
                          "type": "number"
                        },
                        "measurement_unit_id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "mydata_classification_category": {
                          "description": "The mydata category from table 8.8 from AADE manual. Optional",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "The mydata type from table 8.9 from AADE manual. Optional",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postNotices",
        "description": "Issues a new notice. If `expire_date` is omitted it defaults to 10 days after `issue_date`. A notice can later be turned into an invoice by passing its ID as `notice_id` when calling `POST /invoices`."
      }
    },
    "/notices/{notice_id}": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Retrieve a specific notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "The ID of the notice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getNoticesByNotice",
        "description": "Retrieves a single notice by its ID."
      }
    },
    "/notices/{notice_id}/pdf": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Retrieve the pdf of a notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "The ID of the notice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The template the PDF will be generated at",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "a4_landscape",
                "80mm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getNoticesByNoticePdf",
        "description": "Returns the PDF representation of the notice."
      }
    },
    "/hotel-tax": {
      "post": {
        "tags": [
          "Hotel Tax"
        ],
        "summary": "Issue a hotel residence tax document",
        "description": "Issues the special hotel residence tax document (φόρος διαμονής) required by Greek hotels. Items must use a tax with MyData code `8` and a 0% VAT amount. The MyData document type is fixed to `8.2` and the document type to `fd`.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "numbering_sequence_id",
                  "issue_date",
                  "language",
                  "contact_id",
                  "items"
                ],
                "properties": {
                  "number": {
                    "description": "The number of the document. If empty the next sequential number will be used.",
                    "type": [
                      "integer",
                      "null"
                    ]
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence ID. Must be a sequence of type `fd` (hotel tax).",
                    "type": "string",
                    "format": "uuid"
                  },
                  "issue_date": {
                    "description": "The issue date. Must be today or earlier.",
                    "type": "string",
                    "format": "date"
                  },
                  "language": {
                    "description": "The language of the document.",
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "payment_method_id": {
                    "description": "The ID of the payment method to associate.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "correlated_mark": {
                    "description": "The MARK of the correlated invoice when the document refers to a previously issued invoice.",
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "correlated_invoice": {
                    "description": "The ID of the correlated invoice when applicable.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "contact_id": {
                    "description": "The ID of the contact (client) the document is issued to.",
                    "type": "string",
                    "format": "uuid"
                  },
                  "logo_id": {
                    "description": "The ID of the logo to be used. If empty the default logo is used.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "is_paid": {
                    "description": "When `true` a receipt is created and the document is marked as paid. Defaults to `false`.",
                    "type": "boolean"
                  },
                  "tax_category": {
                    "description": "Hotel tax category code. When provided it is applied to every line item that does not declare its own `tax_category`. Cannot be used together with item-level `tax_category`.",
                    "type": "integer",
                    "enum": [
                      6,
                      7,
                      8,
                      9,
                      10,
                      17,
                      20,
                      21,
                      22,
                      23,
                      24,
                      25,
                      26,
                      27,
                      28,
                      29,
                      30
                    ]
                  },
                  "items": {
                    "description": "List of line items.",
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "description",
                        "quantity",
                        "unit_net_value",
                        "tax_id",
                        "net_amount"
                      ],
                      "properties": {
                        "description": {
                          "description": "The description of the line item.",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "Quantity (positive integer, e.g. number of nights).",
                          "type": "integer",
                          "minimum": 1
                        },
                        "unit_net_value": {
                          "description": "Net unit value (must use a 0% VAT tax with MyData code 8).",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to apply. Must be a 0% tax with MyData code 8.",
                          "type": "string",
                          "format": "uuid"
                        },
                        "net_amount": {
                          "description": "Total net amount of the line (`unit_net_value × quantity`).",
                          "type": "number"
                        },
                        "tax_category": {
                          "description": "Hotel tax category code for this specific line. Required if `tax_category` is not provided at the document level.",
                          "type": "integer",
                          "enum": [
                            6,
                            7,
                            8,
                            9,
                            10,
                            17,
                            20,
                            21,
                            22,
                            23,
                            24,
                            25,
                            26,
                            27,
                            28,
                            29,
                            30
                          ]
                        },
                        "mydata_classification_category": {
                          "description": "MyData category from table 8.8 of the AADE manual. Required unless category is `category1_95`.",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "MyData type from table 8.9 of the AADE manual.",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "postHotelTax"
      }
    },
    "/hotel-tax/{hotel_tax_id}": {
      "get": {
        "tags": [
          "Hotel Tax"
        ],
        "summary": "Retrieve a specific hotel tax document",
        "parameters": [
          {
            "name": "hotel_tax_id",
            "in": "path",
            "required": true,
            "description": "The ID of the hotel tax document to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getHotelTaxByHotelTax",
        "description": "Retrieves a previously issued hotel residence tax document by its ID."
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List of all products",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "description": "Search by name. The product will contain the search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "description": "Search by product code. Accepts multiple code seperated by comma (,).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "category_id",
            "description": "Search by category. Accepts the category id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": "getProducts",
        "description": "Returns a paginated list of products. Each product includes its warehouse breakdown, sale and purchase pricing, default discount, MyData income classifications, and any associated variations."
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product",
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "code",
                  "warehouses",
                  "sale_net_amount",
                  "sale_tax_id",
                  "status"
                ],
                "properties": {
                  "name": {
                    "description": "The name for the product.",
                    "type": "string"
                  },
                  "code": {
                    "description": "The code of the product",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the product. 1 - product, 2 - service, 3 - merchandise",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3
                  },
                  "category_id": {
                    "description": "The id of the category the product belongs to.",
                    "type": "string"
                  },
                  "barcode": {
                    "description": "The barcode of the product.",
                    "type": "string"
                  },
                  "mpn_isbn": {
                    "description": "The MPN (or ISBN if its a book)",
                    "type": "string"
                  },
                  "part_number": {
                    "description": "The part number.",
                    "type": "string"
                  },
                  "manufacturer_name": {
                    "description": "The name of the manufacturer.",
                    "type": "string"
                  },
                  "supplier_id": {
                    "description": "The id of the contact that supplies the product.",
                    "type": "string"
                  },
                  "supplier_code": {
                    "description": "The supplier code.",
                    "type": "string"
                  },
                  "warehouses": {
                    "description": "Warehouse details the product belongs too.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "The id of the warehouse",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity",
                          "type": "number"
                        },
                        "position": {
                          "description": "The position of the product in the warehouse.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    }
                  },
                  "sale_net_amount": {
                    "description": "The sale net amount for the product",
                    "type": "number"
                  },
                  "sale_tax_id": {
                    "description": "The id of the tax (vat) that should be applied at the sale price of product",
                    "type": "string"
                  },
                  "purchase_net_amount": {
                    "description": "The purchase net amount for the product",
                    "type": "string"
                  },
                  "purchase_tax_id": {
                    "description": "The id of the tax (vat) that should be applied at the purchase price of product",
                    "type": "string"
                  },
                  "metadata": {
                    "description": "Extra information about the product",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        },
                        "width": {
                          "type": "number"
                        },
                        "length": {
                          "type": "number"
                        },
                        "link": {
                          "type": "string"
                        },
                        "warranty": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "notes": {
                    "description": "Notes about the product",
                    "type": "string"
                  },
                  "mydata_income_category": {
                    "description": "Mydata income Category for wholesale",
                    "type": "string"
                  },
                  "mydata_income_type": {
                    "description": "Mydata income type for wholesale",
                    "type": "string"
                  },
                  "mydata_income_retail_category": {
                    "description": "Mydata income Category for retail",
                    "type": "string"
                  },
                  "mydata_income_retail_type": {
                    "description": "Mydata income type for retail",
                    "type": "string"
                  },
                  "status": {
                    "description": "Status of the product, true is enable, false is disable",
                    "type": "boolean"
                  },
                  "measurement_unit_id": {
                    "description": "The ID of the measurement unit (e.g. piece, kg, hour). Optional.",
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "discount_type": {
                    "description": "The type of the default product discount.",
                    "type": [
[...]
