{
  "openapi": "3.0.3",
  "x-stoplight": {
    "id": "yolj5v0jbyewi"
  },
  "info": {
    "title": "Oxygen Pelatologio API",
    "description": "Oxygen Pelatologio ERP API enables 3rd party application to connect programmatically to the application and:\n* Create or Update data without the need to interact with the interface\n* Connect 3rd party applications, such as e-shop or website to automate orders or invoicing\n",
    "version": "1.12.0",
    "contact": {
      "name": "Oxygen API Support",
      "email": "support@oxygen.gr"
    }
  },
  "servers": [
    {
      "description": "Oxygen Pelatologio SANDBOX API",
      "url": "https://sandbox-api.oxygen.gr/v1"
    },
    {
      "description": "Oxygen Pelatologio API",
      "url": "https://api.oxygen.gr/v1"
    }
  ],
  "tags": [
    {
      "name": "Business Areas"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Credit Notes"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "Logos"
    },
    {
      "name": "Notices"
    },
    {
      "name": "Numbering Sequences"
    },
    {
      "name": "Oxygen Payments"
    },
    {
      "name": "Payment Methods"
    },
    {
      "name": "Product Categories"
    },
    {
      "name": "Products"
    },
    {
      "name": "Taxes"
    },
    {
      "name": "Variations"
    },
    {
      "name": "VAT Check"
    },
    {
      "name": "Warehouses"
    }
  ],
  "externalDocs": {
    "description": "AADE Manual",
    "url": "https://www.aade.gr/sites/default/files/2024-07/myDATA%20API%20Documentation%20v1.0.9_official_erp.pdf"
  },
  "paths": {
    "/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "List all the contacts",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vat",
            "description": "Search by contact VAT",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "description": "Search by contact code. Accepts multiple contact codes separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "email",
            "description": "Search by email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "operationId": ""
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a new contact",
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "is_client",
                  "is_supplier",
                  "name",
                  "surname",
                  "company_name",
                  "profession",
                  "vat_number",
                  "tax_office",
                  "street",
                  "number",
                  "city",
                  "zip_code",
                  "country"
                ],
                "properties": {
                  "code": {
                    "description": "Contact code. If empty a random will be created",
                    "nullable": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the contact. 1 - Private, 2 - Company",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2
                  },
                  "is_client": {
                    "description": "If the contact is a client or not. true or 1 - is a client, false - it is not a client",
                    "type": "boolean"
                  },
                  "is_supplier": {
                    "description": "If the contact is a supplier or not. true - is a supplier, false - it is not a supplier",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "Name of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "surname": {
                    "description": "Surname of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "company_name": {
                    "description": "The name of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "nickname": {
                    "description": "The name of the nickname",
                    "type": "string",
                    "maximum": 100
                  },
                  "profession": {
                    "description": "The profession of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "vat_number": {
                    "description": "The VAT of the contact. If the contact is a non Greek company, the country's 2 letter code should be used as prefix. Required only if type is 2",
                    "type": "string"
                  },
                  "tax_office": {
                    "description": "The tax officer of the contact. Required only if type is 2 and company is from Greece.",
                    "type": "string"
                  },
                  "telephone": {
                    "description": "The telephone of the contact",
                    "type": "string",
                    "nullable": true
                  },
                  "mobile": {
                    "description": "The mobile number of the contact",
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "description": "The email of the contact",
                    "type": "string",
                    "nullable": true
                  },
                  "street": {
                    "description": "The street of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "number": {
                    "description": "The number of the contact. Required only if type is 2 and street is present",
                    "type": "string"
                  },
                  "city": {
                    "description": "The city of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "zip_code": {
                    "description": "The zip code of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "country": {
                    "description": "The country of the contact (2letter)",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Retrieve a specific contact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "The ID of the contact to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact. All values are needed.",
        "responses": {
          "201": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "is_client",
                  "is_supplier",
                  "name",
                  "surname",
                  "company_name",
                  "profession",
                  "vat_number",
                  "tax_office",
                  "street",
                  "number",
                  "city",
                  "zip_code",
                  "country"
                ],
                "properties": {
                  "code": {
                    "description": "Contact code. If empty a random will be created",
                    "nullable": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the contact. 1 - Private, 2 - Company",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 2
                  },
                  "is_client": {
                    "description": "If the contact is a client or not. true or 1 - is a client, false - it is not a client",
                    "type": "boolean"
                  },
                  "is_supplier": {
                    "description": "If the contact is a supplier or not. true - is a supplier, false - it is not a supplier",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "Name of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "surname": {
                    "description": "Surname of the contact. Required only if type is 1.",
                    "type": "string"
                  },
                  "company_name": {
                    "description": "The name of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "profession": {
                    "description": "The profession of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "vat_number": {
                    "description": "The VAT of the contact. If the contact is a non Greek company, the country's 2 letter code should be used as prefix. Required only if type is 2",
                    "type": "string"
                  },
                  "tax_office": {
                    "description": "The tax officer of the contact. Required only if type is 2 and company is from Greece.",
                    "type": "string"
                  },
                  "telephone": {
                    "description": "The telephone of the contact",
                    "type": "string",
                    "nullable": true
                  },
                  "mobile": {
                    "description": "The mobile number of the contact",
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "description": "The email of the contact",
                    "type": "string",
                    "nullable": true
                  },
                  "street": {
                    "description": "The street of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "number": {
                    "description": "The number of the contact. Required only if type is 2 and street is present",
                    "type": "string"
                  },
                  "city": {
                    "description": "The city of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "zip_code": {
                    "description": "The zip code of the contact. Required only if type is 2",
                    "type": "string"
                  },
                  "country": {
                    "description": "The country of the contact (2letter)",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve all issued invoices",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Search by contact ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_code",
            "description": "Search by contact code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "Search from a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "Search to a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "description": "Search exactly the specific date. Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "number",
            "description": "Search by invoice number. Accepts multiple invoice numbers separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numbering_sequence",
            "description": "Search by numbering_sequence. Accepts the numbering sequence id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvoiceItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create a new invoice",
        "responses": {
          "201": {
            "description": "Invoice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "description": "The number of the invoice. If it's empty then the next sequentional number will be used according to the invoices type and sequence.",
                    "type": "integer"
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence id of the invoice",
                    "type": "string"
                  },
                  "issue_date": {
                    "description": "The issue date of the invoice",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-21"
                  },
                  "document_type": {
                    "description": "The type of the invoice.",
                    "type": "string",
                    "enum": [
                      "s (Invoice for Services)",
                      "p (Invoice for product sales and/or services)",
                      "rs (Receipt (issued to private customers) for services)",
                      "rp (Receipt (issued to private customers) for products and/or services)"
                    ]
                  },
                  "language": {
                    "description": "The language of the invoice",
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "mydata_document_type": {
                    "description": "The document type for MyData as seen at table 8.1 in AADE manual",
                    "type": "string",
                    "nullable": true
                  },
                  "payment_method_id": {
                    "description": "The id of the payment method to associate with the invoice",
                    "type": "string"
                  },
                  "description": {
                    "description": "A description about the document. If left blank the description of the first item will be chosen.",
                    "type": "string",
                    "maximum": 200
                  },
                  "business_area_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "mt6hefp7r2zx9"
                    },
                    "format": "uuid"
                  },
                  "contact_id": {
                    "description": "The id of the contact (client) that the invoice will be issued",
                    "type": "string"
                  },
                  "logo_id": {
                    "description": "The id of the logo to be used. If it's empty the default logo will be used.",
                    "type": "string"
                  },
                  "items": {
                    "description": "List of items / products / services",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "The id or code of the item",
                          "type": "string"
                        },
                        "warehouse_id": {
                          "description": "The id of the warehouse the quantity will be removed. If skipped the default warehouse will be used.",
                          "type": "string"
                        },
                        "description": {
                          "description": "The description of the item. Not required if valid product code is provided.",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the item",
                          "type": "number"
                        },
                        "unit_net_value": {
                          "description": "The item unit price without VAT. Not required if valid product code is provided.",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to be applied. Not required if valid product code is provided.",
                          "type": "string"
                        },
                        "discount_type": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "jfk5eyl1yutim"
                          },
                          "enum": [
                            "percent",
                            "amount"
                          ]
                        },
                        "discount_value": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "msxkrhpd1ljcw"
                          }
                        },
                        "net_amount_pre_discount": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "464ypkkmao4cp"
                          },
                          "description": "The items' price before discount without VAT."
                        },
                        "net_amount": {
                          "description": "The items' price without VAT. Not required if valid product code is provided.",
                          "type": "number"
                        },
                        "vat_amount": {
                          "description": "The amount of the VAT. Not required if valid product code is provided.",
                          "type": "number"
                        },
                        "measurement_unit_id": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "ybj7tqy9z9zm4"
                          },
                          "format": "uuid"
                        },
                        "mydata_classification_category": {
                          "description": "The mydata category from table 8.8 from AADE manual",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "The mydata type from table 8.9 from AADE manual",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "notice_id": {
                    "description": "Notice ID to connect with",
                    "type": "string"
                  },
                  "is_paid": {
                    "description": "If it is set to true a receipt will be created and the invoice will be marked as paid. It does not work with Self Invoices (type self_inv)",
                    "type": "boolean"
                  },
                  "comments": {
                    "description": "Comments to be printed on the invoice",
                    "type": "string"
                  },
                  "infobox": {
                    "description": "Brief information to be printed on the invoice",
                    "type": "string",
                    "maximum": 300
                  },
                  "shipping_details": {
                    "$ref": "#/components/schemas/ShippingDetailsItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve a specific invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the invoice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/invoices/{invoice_id}/pdf": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Retrieve the pdf of an invoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The ID of the invoice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The template the PDF will be generated at",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "a4_landscape",
                "80mm"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve all issued credit notes",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Search by contact ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_code",
            "description": "Search by contact code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "Search from a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "Search to a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "description": "Search exactly the specific date. Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "number",
            "description": "Search by number. Accepts multiple invoice numbers separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numbering_sequence",
            "description": "Search by numbering sequence. Accepts the numbering sequence id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CreditNoteItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Create a new credit note",
        "responses": {
          "201": {
            "description": "Credit note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "description": "The number of the invoice. If it's empty then the next sequential number will be used according to the invoices type and sequence.",
                    "type": "integer"
                  },
                  "correlated_invoice": {
                    "description": "The MARK of the correlated invoice. Required only if mydata_document_type is 5.1",
                    "type": "string"
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence id of the credit note",
                    "type": "string"
                  },
                  "issue_date": {
                    "description": "The issue date of the credit note",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-21"
                  },
                  "document_type": {
                    "description": "The type of the credit note.",
                    "type": "string",
                    "enum": [
                      "pistotiko - Credit note for invoices",
                      "pistlianiki - Credit note for receipts"
                    ]
                  },
                  "language": {
                    "description": "The language of the credit note",
                    "type": "string",
                    "enum": [
                      "GR",
                      "EN"
                    ]
                  },
                  "business_area_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "rbj18kl4igi39"
                    },
                    "format": "uuid"
                  },
                  "mydata_document_type": {
                    "description": "The document type for MyData as seen at table 8.1 in AADE manual",
                    "type": "string",
                    "enum": [
                      5.1,
                      5.2,
                      11.4
                    ]
                  },
                  "payment_method_id": {
                    "description": "The id of the payment method to associate with the credit note",
                    "type": "string"
                  },
                  "description": {
                    "description": "A description about the document. If left blank the description of the first item will be chosen.",
                    "type": "string",
                    "maximum": 200
                  },
                  "contact_id": {
                    "description": "The id of the contact (client) that the credit note will be issued",
                    "type": "string"
                  },
                  "items": {
                    "description": "List of items / products / services",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "description": "The description of the item",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the time",
                          "type": "number"
                        },
                        "unit_net_value": {
                          "description": "The item unit price without VAT",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to be applied",
                          "type": "string"
                        },
                        "discount_type": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "7n2jxo53wppsd"
                          },
                          "enum": [
                            "percent",
                            "amount"
                          ]
                        },
                        "discount_value": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "4egx48uo6g1wg"
                          }
                        },
                        "net_amount_pre_discount": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "1qatoh595fqgt"
                          }
                        },
                        "vat_amount": {
                          "description": "The amount of the VAT",
                          "type": "number"
                        },
                        "net_amount": {
                          "description": "The items' price without VAT",
                          "type": "number"
                        },
                        "mydata_classification_category": {
                          "description": "The mydata category from table 8.8 from AADE manual",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "The mydata type from table 8.9 from AADE manual",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "comments": {
                    "description": "Comments to be printed on the credit note",
                    "type": "string"
                  },
                  "infobox": {
                    "description": "Brief information to be printed on the credit note",
                    "type": "string",
                    "maximum": 300
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credit-notes/{credit_note_id}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve a specific credit note",
        "parameters": [
          {
            "name": "credit_note_id",
            "in": "path",
            "description": "The ID of the credit note to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreditNoteItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/credit-note/{credit_note_id}/pdf": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Retrieve the pdf of an credit note",
        "parameters": [
          {
            "name": "credit_note_id",
            "in": "path",
            "description": "The ID of the credit note to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The template the PDF will be generated at",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "a4_landscape",
                "80mm"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/notices": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Retrieve all issued notices",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_id",
            "description": "Search by contact id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contact_code",
            "description": "Search by contact code",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_from",
            "description": "Search from a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date_to",
            "description": "Search to a specific date (including the date). Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "date",
            "description": "Search exactly the specific date. Format is YYYY-MM-DD.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "number",
            "description": "Search by number. Accepts multiple invoice numbers separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "numbering_sequence",
            "description": "Search by numbering sequence. Accepts the numbering sequence id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NoticeItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Notices"
        ],
        "summary": "Create a new notice",
        "responses": {
          "201": {
            "description": "Notice created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "number": {
                    "description": "The number of the notice. If it's empty then the next sequential number will be used.",
                    "type": "integer"
                  },
                  "numbering_sequence_id": {
                    "description": "The numbering sequence id of the notice.",
                    "type": "string"
                  },
                  "issue_date": {
                    "description": "The issue date of the notice",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-21"
                  },
                  "expire_date": {
                    "description": "The expire date of the notice. Not required. If its empty it will be calculated 10 days after the issue date",
                    "type": "string",
                    "format": "date",
                    "example": "2021-07-25"
                  },
                  "business_area_id": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "n5v9yznab3heq"
                    },
                    "format": "uuid"
                  },
                  "language": {
                    "description": "The language of the invoice",
                    "type": "string",
                    "enum": [
                      "el",
                      "en"
                    ]
                  },
                  "description": {
                    "description": "A description about the document. If left blank the description of the first item will be chosen.",
                    "type": "string",
                    "maximum": 200
                  },
                  "contact_id": {
                    "description": "The id of the contact (client) that the invoice will be issued",
                    "type": "string"
                  },
                  "logo_id": {
                    "description": "The id of the logo to be used. If it's empty the default logo will be used.",
                    "type": "string"
                  },
                  "items": {
                    "description": "List of items / products / services",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "description": "The description of the item",
                          "type": "string"
                        },
                        "quantity": {
                          "description": "The quantity of the time",
                          "type": "number"
                        },
                        "unit_net_value": {
                          "description": "The item unit price without VAT",
                          "type": "number"
                        },
                        "tax_id": {
                          "description": "The ID of the tax to be applied",
                          "type": "string"
                        },
                        "discount_type": {
                          "type": "string",
                          "x-stoplight": {
                            "id": "eefrsa4y9zygm"
                          },
                          "enum": [
                            "percent",
                            "amount"
                          ]
                        },
                        "discount_value": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "b1vuzk6x6clr4"
                          }
                        },
                        "net_amount_pre_discount": {
                          "type": "number",
                          "x-stoplight": {
                            "id": "qwhz1qj1nsqtc"
                          }
                        },
                        "net_amount": {
                          "description": "The items' price without VAT",
                          "type": "number"
                        },
                        "vat_amount": {
                          "description": "The amount of the VAT",
                          "type": "number"
                        },
                        "mydata_classification_category": {
                          "description": "The mydata category from table 8.8 from AADE manual. Optional",
                          "type": "string"
                        },
                        "mydata_classification_type": {
                          "description": "The mydata type from table 8.9 from AADE manual. Optional",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notices/{notice_id}": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Retrieve a specific notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "The ID of the notice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoticeItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/notices/{notice_id}/pdf": {
      "get": {
        "tags": [
          "Notices"
        ],
        "summary": "Retrieve the pdf of a notice",
        "parameters": [
          {
            "name": "notice_id",
            "in": "path",
            "description": "The ID of the notice to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template",
            "in": "query",
            "description": "The template the PDF will be generated at",
            "schema": {
              "type": "string",
              "enum": [
                "a4",
                "a4_landscape",
                "80mm"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/taxes": {
      "get": {
        "tags": [
          "Taxes"
        ],
        "summary": "Retrieve all the taxes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaxItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Taxes"
        ],
        "summary": "Create a new tax",
        "responses": {
          "201": {
            "description": "Tax created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mydata_vat_code"
                ],
                "properties": {
                  "title": {
                    "description": "A title for the tax. Required if mydata_vat_code is 999.",
                    "nullable": true,
                    "type": "string"
                  },
                  "mydata_vat_code": {
                    "description": "The vat category as list at table 8.2 of AADE Manual. If the tax its not Greek then the mydata_vat_code should be 999.",
                    "type": "integer",
                    "required": true
                  },
                  "mydata_vat_exemption_category": {
                    "description": "Required only if mydata_vat_code is 7. Values from table 8.3 of AADE manual",
                    "type": "boolean",
                    "nullable": true
                  },
                  "rate": {
                    "description": "The rate of the tax. Required if mydata_vat_code is 999 else not.",
                    "type": "number",
                    "nullable": true,
                    "example": "24.00"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/taxes/{tax_id}": {
      "get": {
        "tags": [
          "Taxes"
        ],
        "summary": "Retrieve a specific tax",
        "parameters": [
          {
            "name": "tax_id",
            "in": "path",
            "description": "The ID of the tax to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/numbering-sequences": {
      "get": {
        "tags": [
          "Numbering Sequences"
        ],
        "summary": "Retrieve all the numbering sequences",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NumberingSequenceItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Numbering Sequences"
        ],
        "summary": "Create a new numbering sequence",
        "responses": {
          "201": {
            "description": "Tax created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberingSequenceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "document_type",
                  "is_draft"
                ],
                "properties": {
                  "name": {
                    "description": "The name (prefix)",
                    "required": true,
                    "type": "string"
                  },
                  "document_type": {
                    "description": "The document type the numbering sequence associate's with.",
                    "type": "string",
                    "required": true
                  },
                  "title": {
                    "description": "This can be used to change the default title of some document types",
                    "type": "string"
                  },
                  "is_draft": {
                    "description": "If the is_draft is set to true, then the invoice is considered draft and will not be send to MyData.",
                    "type": "boolean",
                    "required": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/numbering-sequences/{numbering_sequence_id}": {
      "get": {
        "tags": [
          "Numbering Sequences"
        ],
        "summary": "Retrieve a specific numbering sequence",
        "parameters": [
          {
            "name": "numbering_sequence_id",
            "in": "path",
            "description": "The ID of the numbering sequence to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NumberingSequenceItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/payment-methods": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Retrieve all the payment methods.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentMethodItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Create a new payment method",
        "responses": {
          "201": {
            "description": "Payment method created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title_gr",
                  "title_en",
                  "mydata_code",
                  "status"
                ],
                "properties": {
                  "title_gr": {
                    "description": "The Greek title",
                    "required": true,
                    "type": "string"
                  },
                  "title_en": {
                    "description": "The English title",
                    "required": true,
                    "type": "string"
                  },
                  "mydata_code": {
                    "description": "The mydata code as listed at table 8.12 at AADE Manual",
                    "type": "integer",
                    "required": true
                  },
                  "status": {
                    "description": "If the numbering sequence is active or not",
                    "type": "boolean",
                    "required": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payment-methods/{payment_method_id}": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Retrieve a specific payment method",
        "parameters": [
          {
            "name": "payment_method_id",
            "in": "path",
            "description": "The ID of the payment method to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List of all products",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "Search by id. Accepts multiple ids separated by comma (,)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "description": "Search by name. The product will contain the search term",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "code",
            "description": "Search by product code. Accepts multiple code seperated by comma (,).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "category_id",
            "description": "Search by category. Accepts the category id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "string"
                        },
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "from": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "path": {
                          "type": "string",
                          "format": "uri"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "to": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create a new product",
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "code",
                  "warehouses",
                  "sale_net_amount",
                  "sale_tax_id",
                  "status"
                ],
                "properties": {
                  "name": {
                    "description": "The name for the product.",
                    "type": "string"
                  },
                  "code": {
                    "description": "The code of the product",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the product. 1 - product, 2 - service, 3 - merchandise",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3
                  },
                  "category_id": {
                    "description": "The id of the category the product belongs to.",
                    "type": "string"
                  },
                  "barcode": {
                    "description": "The barcode of the product.",
                    "type": "string"
                  },
                  "mpn_isbn": {
                    "description": "The MPN (or ISBN if its a book)",
                    "type": "string"
                  },
                  "part_number": {
                    "description": "The part number.",
                    "type": "string"
                  },
                  "manufacturer_name": {
                    "description": "The name of the manufacturer.",
                    "type": "string"
                  },
                  "supplier_id": {
                    "description": "The id of the contact that supplies the product.",
                    "type": "string"
                  },
                  "supplier_code": {
                    "description": "The supplier code.",
                    "type": "string"
                  },
                  "warehouses": {
                    "description": "Warehouse details the product belongs too.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "The id of the warehouse",
                          "type": "string",
                          "required": true
                        },
                        "quantity": {
                          "description": "The quantity",
                          "type": "number"
                        },
                        "position": {
                          "description": "The position of the product in the warehouse.",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sale_net_amount": {
                    "description": "The sale net amount for the product",
                    "type": "number"
                  },
                  "sale_tax_id": {
                    "description": "The id of the tax (vat) that should be applied at the sale price of product",
                    "type": "string"
                  },
                  "purchase_net_amount": {
                    "description": "The purchase net amount for the product",
                    "type": "string"
                  },
                  "purchase_tax_id": {
                    "description": "The id of the tax (vat) that should be applied at the purchase price of product",
                    "type": "string"
                  },
                  "metadata": {
                    "description": "Extra information about the product",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        },
                        "width": {
                          "type": "number"
                        },
                        "length": {
                          "type": "number"
                        },
                        "link": {
                          "type": "string"
                        },
                        "warranty": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "notes": {
                    "description": "Notes about the product",
                    "type": "string"
                  },
                  "mydata_income_category": {
                    "description": "Mydata income Category for wholesale",
                    "type": "string"
                  },
                  "mydata_income_type": {
                    "description": "Mydata income type for wholesale",
                    "type": "string"
                  },
                  "mydata_income_retail_category": {
                    "description": "Mydata income Category for retail",
                    "type": "string"
                  },
                  "mydata_income_retail_type": {
                    "description": "Mydata income type for retail",
                    "type": "string"
                  },
                  "status": {
                    "description": "Status of the product, true is enable, false is disable",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "Retrieve a specific product",
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "The ID of the product to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update a product. Values that are not provider will keep the old value",
        "responses": {
          "201": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "The name for the product.",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the product. 1 - product, 2 - service, 3 - merchandise",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3
                  },
                  "category_id": {
                    "description": "The id of the category the product belongs to.",
                    "type": "string"
                  },
                  "barcode": {
                    "description": "The barcode of the product.",
                    "type": "string"
                  },
                  "mpn_isbn": {
                    "description": "The MPN (or ISBN if its a book)",
                    "type": "string"
                  },
                  "part_number": {
                    "description": "The part number.",
                    "type": "string"
                  },
                  "manufacturer_name": {
                    "description": "The name of the manufacturer.",
                    "type": "string"
                  },
                  "supplier_id": {
                    "description": "The id of the contact that supplies the product.",
                    "type": "string"
                  },
                  "supplier_code": {
                    "description": "The supplier code.",
                    "type": "string"
                  },
                  "warehouses": {
                    "description": "Warehouse details the product belongs too.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "The id of the warehouse",
                          "type": "string",
                          "required": true
                        },
                        "quantity": {
                          "description": "The quantity",
                          "type": "number"
                        },
                        "position": {
                          "description": "The position of the product in the warehouse.",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "sale_net_amount": {
                    "description": "The sale net amount for the product",
                    "type": "number"
                  },
                  "sale_tax_id": {
                    "description": "The id of the tax (vat) that should be applied at the sale price of product",
                    "type": "string"
                  },
                  "purchase_net_amount": {
                    "description": "The purchase net amount for the product",
                    "type": "string"
                  },
                  "purchase_tax_id": {
                    "description": "The id of the tax (vat) that should be applied at the purchase price of product",
                    "type": "string"
                  },
                  "metadata": {
                    "description": "Extra information about the product",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        },
                        "width": {
                          "type": "number"
                        },
                        "length": {
                          "type": "number"
                        },
                        "link": {
                          "type": "string"
                        },
                        "warranty": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "notes": {
                    "description": "Notes about the product",
                    "type": "string"
                  },
                  "mydata_income_category": {
                    "description": "Mydata income Category for wholesale",
                    "type": "string"
                  },
                  "mydata_income_type": {
                    "description": "Mydata income type for wholesale",
                    "type": "string"
                  },
                  "mydata_income_retail_category": {
                    "description": "Mydata income Category for retail",
                    "type": "string"
                  },
                  "mydata_income_retail_type": {
                    "description": "Mydata income type for retail",
                    "type": "string"
                  },
                  "status": {
                    "description": "Status of the product, true is enable, false is disable",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products-categories": {
      "get": {
        "tags": [
          "Product Categories"
        ],
        "summary": "Retrieve all the product categories",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductCategoryItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Product Categories"
        ],
        "summary": "Create a new product category",
        "responses": {
          "201": {
            "description": "Category created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategoryItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "The name of the category",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products-categories/{product_category_id}": {
      "get": {
        "tags": [
          "Product Categories"
        ],
        "summary": "Retrieve a specific product category",
        "parameters": [
          {
            "name": "product_category_id",
            "in": "path",
            "description": "The ID of the product category to be retrieved",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCategoryItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/warehouses": {
      "get": {
        "tags": [
          "Warehouses"
        ],
        "summary": "List of all the warehouses",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WarehouseItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Create a new Warehouse",
        "responses": {
          "201": {
            "description": "Warehouse created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "The name of the Warehouse",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variations": {
      "get": {
        "tags": [
          "Variations"
        ],
        "summary": "List all variations",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VariationItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Variations"
        ],
        "summary": "Create a new variation",
        "responses": {
          "201": {
            "description": "Variation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariationItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "The name of the variation in Greek",
                    "type": "string"
                  },
                  "name_en": {
                    "description": "The name of the variation in English",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variations/{variation_id}": {
      "get": {
        "tags": [
          "Variations"
        ],
        "summary": "List a specific variation",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariationItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/variations/{variation_id}/values": {
      "get": {
        "tags": [
          "Variations"
        ],
        "summary": "List of all the values for a variation",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariationItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "tags": [
          "Variations"
        ],
        "summary": "Create a new value for variation",
        "responses": {
          "201": {
            "description": "Value created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariationValueItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "The name of the value",
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variations/{variation_id}/values/{value_id}": {
      "get": {
        "tags": [
          "Variations"
        ],
        "summary": "List a specific value of a variation",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariationValueItem"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/oxygen-payments": {
      "get": {
        "tags": [
          "Oxygen Payments"
        ],
        "summary": "List all oxygen payments",
        "parameters": [
          {
            "in": "query",
            "name": "per_page",
            "description": "Result per request. Max 2000.",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
[...]
